.modal-element {
  height: 60vh;
  width: 70vw;
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  flex-direction: column;

  background-color: rgba(24, 26, 28, 0.9);
  color: rgb(255, 254, 232);
}

#modal-close {
  cursor: pointer;
  position: fixed;
  top: 0;
  right: 0;
  margin-right: 1em;
  margin-top: 1em;
  color: rgb(242, 242, 242);
  font-size: 20pt;
}
