#map {
  height: 100%;
  width: 100%;
  background-image: url('../../assets/images/waves.jpg');
  background-size: 400px;
  background-repeat: repeat;

  .country {
    fill: rgb(24, 26, 28);
    stroke: rgb(60, 60, 60);
    stroke-width: 0.2px;
    outline: none;
  }

  .img-marker {
    fill: white;
    cursor: pointer;
  }
}
